<app-header></app-header>

<ion-content [fullscreen]="true">
<ion-card>
  <ion-card-header>
    <ion-card-title>ProTeam</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>ProTeam es una aplicación para el móvil que te permitirá crear tus equipos de cualquier deporte de manera equitativa para que haya un encuentro entretenido y competitivo.</p>
  </ion-card-content>
</ion-card>
<ion-button expand="block" routerLink="/crear" color="app-secondary">Crear equipos</ion-button>
</ion-content>